# prevenir que se muestren los archivos de una carpeta(listado de archivos)

Options -indexes


#personalizar la pagina 404

ErrorDocument 404 /sakila/errores/404.php

#personalizar la pag 403
ErrorDocument 403 /sakila/errores/403.php